node_modules
.env*
**/.env*
.emulator-data
**/.emulator-data
*serviceAccount*.json
**/*serviceAccount*.json
firebase-adminsdk*.json
**/firebase-adminsdk*.json
*.pem
*.key
.firebase-cache
firebase-debug.log
firestore-debug.log
ui-debug.log
security-tests
npm-debug.log
